<% layout('layouts/boilerplate.ejs') %>

<h1 class="text-center">Add a Campground</h1>
<div class="row">
    <div class="col-md-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="campground[title]" id="title" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="campground[location]" id="location" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]"
                        required>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" name="campground[description]" id="description"
                    required></textarea>
            </div>
            <div class="mb-3 custom-file">
                <label for="image" class="form-label">Upload Image(s)</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <button class=" btn btn-success mt-2 mb-5">Add Campground</button>
        </form>
        <a href="/campgrounds"> Back to All Campgrounds </a>
    </div>
</div>